body {
    background-color: #b3bdc4;
    font-family: monospace;
    font-weight: bold;
}
table {
    margin: 0 auto;
    background-color: #ebebeb;
    border-spacing: 0;
    border-collapse: separate;
    border: 2px solid grey;
}

td {
    border: 1px solid grey;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
}

input[type='radio'] {
    transform: scale(2);
}

.mine {
    background-image: url("/static/images/bomb.png");
    background-color: #cecdca;
}

.exploded {
    background-image: url("/static/images/bomb.png");
    background-color: #ff0000;
}

.flagged {
    background-image: url("/static/images/flag.png");
}
.wrong-flagged {
    background-image: url("/static/images/wrongflag.png");
    background-color: #cecdca;
}

.mine, .exploded, .flagged, .wrong-flagged {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
}

.zero {
    background-image: url("/static/images/open0.png");
}
.one {
    background-image: url("/static/images/open1.png");
}
.two {
    background-image: url("/static/images/open2.png");
}
.three {
    background-image: url("/static/images/open3.png");
}
.four {
    background-image: url("/static/images/open4.png");
}
.five {
    background-image: url("/static/images/open5.png");
}
.six {
    background-image: url("/static/images/open6.png");
}
.seven {
    background-image: url("/static/images/open7.png");
}
.eight {
    background-image: url("/static/images/open8.png");
}

.playing {
    background-image: url("/static/images/happy.png");
}
.won {
    background-image: url("/static/images/smile.png");
}

.lost {
    background-image: url("/static/images/pain.png");
}

.flags {
    font-size: 30px;
    float: left;
    margin-top: 10px;
    position: absolute;
}

.container {
    position:relative;
    margin: 0 auto;
    display: table;
    margin-top:25px;
}


#custom-option {
    display: none;
    font-size: 18px;
    margin-left: 35px;
    width: 125px;
}
#custom-option div {
    height: 35px;
}
#custom-option div input {
    font-size: 16px;
    width: 50px;
    float: right;
}


#game-field {
   margin: 0 auto;
    display: table;
}

#form {
    position:fixed;
    top: 35%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em;
    margin-left: -15em;
    border-radius: 5px;
}

#start {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 15px 2px;
    cursor: pointer;
    font-weight:bold;
}

#start:hover {
    background-color: #1c9230;
}

#title {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#option {
    font-size:20px;
    width: 300px;
    margin: 0 auto;
}

#option .game-option {
    margin-bottom: 20px;
}

#logo {
    width:45px;
}

#new, #copy, #back {
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-weight:bold;
}

#new {
    background-color: #4CAF50;
}

#new:hover {
    background-color:#1c9230 ;
}

#copy {
    background-color: #485F6E;
}

#copy:hover {
    background-color:#3c4e59 ;
}



#status {
    background-size: 40px 40px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

#header {
    height:60px;
}

#top {
    height:50px;
    text-align: center;
}

#game-title {
    text-align: center;
    font-size: 30px;
    font-family: monospace;
    margin-bottom: 20px;
}

#start-container {
    text-align: center;
}

#status {
    display: inline-block;
}
#bottom {
   text-align: center;
    height: 50px;
    margin-top: 15px;
}

#new {
    margin-right: 15px;
}

#info {
    font-size: 16px;
    margin: 0 auto;
    width: 385px;
    margin-bottom: 25px;
}

#not-found {
    width: 300px;
    margin: 0 auto;
    margin-top: 250px;
    text-align: center;
}
#back {
    background-color: #555555;
}