
{% extends "_layout.html" %}

{% block content %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/game.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io-1.3.6.min.js') }}"></script>

    <div class="container">
         <div id="game-title">
             <i class="fa fa-bomb"></i> Minesweeper <label>by Giang Vu</label>
         </div>

        <div id="top">
            <div class="flags">
                <label id="flags"></label>
                <div class="flag"></div>
            </div>

            <div id="status"></div>

        </div>

        <input type="hidden" id="id" value="{{ id }}">
        <div id="board"></div>

        <div id="bottom">
            <button id="new" title="New Game" onclick="newGame()">
                <i class="fa fa-play"></i> New Game
            </button>
            <button id="copy" title="Copy Url" onclick="copyUrl()">
                <i class="fa fa-link"></i> Copy Url
            </button>
        </div>
    </div>
{% endblock %}
