{% extends "_layout.html" %}

{% macro render_field_with_errors(field) %}
    <div>
        {{ field.label }} {{ field(**kwargs)|safe }}
        {% if field.errors %}
          <ul>
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
          </ul>
        {% endif %}
    </div>
{% endmacro %}

{% block content %}
     <script src="{{ url_for('static', filename='js/index.js') }}"></script>


    <div id="form">
        <div id="title">
            <i class="fa fa-bomb"></i>
            Minesweeper
        </div>
        <p id="info">
            Access the same game's url to play together
        </p>
        <form action="{{ url_for('view.index') }}" method="POST">
            {{ form.csrf_token }}
            <div id="option">
             {% for mode in form.modes %}
                <div>{{ mode(class="game-option") }}
                    {{ mode.label }}
                </div>
             {% endfor %}

            <div id="custom-option">
                {{ render_field_with_errors(form.width) }}
                {{ render_field_with_errors(form.height) }}
                {{ render_field_with_errors(form.mines) }}
            </div>
            </div>
            <div id="start-container">
                <button id="start" title="New Game" type="submit">
                    <i class="fa fa-play"></i> New Game
                </button>
            </div>
        </form>
    </div>

{% endblock %}
